@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader styles */

body {
  font-family: "Arial";
  height: 120vh;
}

#greeting {
  color: rgb(35, 132, 192);
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #c2c8ca;
  box-shadow: 32px -34px 0 5px rgb(35, 132, 192);
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(35, 132, 192);
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.login {
  background: rgb(59, 93, 114);
}
.login button {
  background: #2384c0;
}
.login button:hover {
  background: rgb(59, 93, 114);
}
.signup {
  background: rgb(59, 93, 114);
}
.signup button {
  background: #2384c0;
}
.signup button:hover {
  background: rgb(115, 150, 171);
}
.foldercontainer {
  background-color: rgb(190, 210, 227);
  margin-top: 4rem;
  padding: 2rem;
  border-radius: 10px;
}
