@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader styles */

body {
  background: linear-gradient(
    360deg,
    rgb(160, 213, 247) 0%,
    rgb(238, 240, 241) 30%,
    rgb(214, 218, 222) 100%
  );
  font-family: "Arial";
  height: 120vh;
}

#greeting {
  color: rgb(35, 132, 192);
}
#add-folder {
  color: rgb(35, 132, 192);
  font-weight: 900;
}
#add-folder:hover {
  background-color: rgb(35, 132, 192);
  color: white;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #c2c8ca;
  box-shadow: 32px -34px 0 5px rgb(35, 132, 192);
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(35, 132, 192);
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
